<div class="sideBar">

    <div class="menuOptions">
        <a href="#" class="closeBtn" (click)="closeTopBar()">×</a>
        <button (click)="showMain()" class="sideBtn" type="button">Home</button>
        <button (click)="showAbout()" class="sideBtn" type="button">About</button>
        <button (click)="showProducts()" class="sideBtn" type="button">Products</button>
        <button (click)="showContact()" class="sideBtn" type="button">Contact</button>
    </div>
    <app-social-links></app-social-links>
</div>