<div class="icons">
    <a href="https://he-il.facebook.com/" target="_blank">
        <img class="menuIcon" src="https://www.arnavutkoy.bel.tr/Files/images/iletisim%20icon/facebook.png"
            alt="facebookIcon" /></a>
    <a href="https://mail.google.com" target="_blank">
        <img class="menuIcon" src="https://icon-library.net/images/icon-mail/icon-mail-22.jpg" alt="emailIcon" />
    </a>

    <a href="https://twitter.com/home?lang=he" target="_blank">
        <img class="menuIcon" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-512.png"
            alt="twitterIcon" />
    </a>
</div>