.deatails {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 30px;
    font-size: 18px;
}

.productDetails {
    padding: 20px;
}

.backBtn {
    margin: 10px;
    outline: none;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 18px;
    font-family: fantasy;
    text-align: center;
    background-color: #211d57;
    color: #fff;
}

.backBtn:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

.productImage {
    width: 260px;
    height: 280px;
    border-radius: 3px;
}