<div class="categoriesAndProducts" *ngIf='!pressedProduct'>
  <div class='categories'>
    <ul class='categoriesList'>
      <li class='category' *ngFor='let category of categoriesArray'>
        <input [name]='category.id' [value]='category.title' type='button' class='categoryBtn'
          (click)='alartProducts($event.target)'>
      </li>
    </ul>
  </div>
  <div>
    <app-product-list (productPressedEvent)='updateProductView($event)' [products]='showProducts'>good it works
    </app-product-list>
  </div>

</div>

<app-product-details (clickOnBackEvent)='updateProductView($event)' *ngIf='pressedProduct' [product]='pressedProduct'>
</app-product-details>