.topBar {
    justify-content: space-between;
    height: 60px;
    background-color: #211d57;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuIcon {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

.icons {
    right: 0px;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
}